// ExhibitsList.module.scss
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.empty {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 2.71vw;
  line-height: 110%;
  text-align: center;
  color: var(--color-text2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0.84vw;
  row-gap: 0.83vw;
}
//TODO  убрать у последней строки марджин

.gridItem {
  min-height: 13.02vw;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
