*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  background-color: var(--color-exhibitspage2);
  overflow: hidden;
  height: 16,66vw;
  position: relative;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.imageContainer {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  position: relative;
  background-color: var(--color-exibitcard6);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imageOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6.25vw;
  background: rgba(233, 232, 223, 0.8);
  padding: 0.83vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.titleOverlay {
  margin: 0;
  color: var(--color-exibitcard6);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;

}

.viewButtonOverlay {
  margin-top: 8px;
  background: none;
  border: none;
  color: var(--color-exibitcard6);
  cursor: pointer;
  padding: 0;
  position: relative;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;


  &::before {
    content: '';
    display: inline-block;
    width: 1.04vw;
    height: 1px;
    background-color: var(--color-exibitcard6);
    margin-right: 0.41vw;
    vertical-align: middle;
  }

  &:hover {
    opacity: 0.8;
  }
}
