.layout {
  display: flex;
  align-items: flex-start;
  gap: 1.25vw; // 24px на 1920px
  width: 100%;
  height: 14.58vw; // 280px на 1920px
  box-sizing: border-box;
}

.textLeft,
.textRight {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.imageCenter {
  width: 28.125vw; // 540px на 1920px
  height: 14.58vw; // 280px на 1920px
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageCenter :global(.image) {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
  outline: none;
}
