.block {
  margin-bottom: 30px;
  padding: 40px 20px;
  background-color: #E8E5DE;
  border-radius: 8px;
}

.wrap {
  width: 100%;
  max-width: 63.7vw; // 1221px на 1920px
  margin: 0 auto 1.46vw; // 28px на 1920px
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25vw; // 24px на 1920px
  align-items: stretch;
}

.cell {
  min-height: 14.58vw; // 280px на 1920px
}

.textCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout {
  display: flex;
  align-items: center;
  gap: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  :global(.image-block-container) {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-color: transparent;
    border-radius: 0;
    border: none;
    outline: none;
  }

  :global(.image-block-image) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0;
    border: none;
    outline: none;
  }

  :global(.image-block-placeholder) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #888;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
  }

  :global(.image-block-placeholder input[type="file"]) {
    display: none;
  }
}
