$primary-app-color: #007bff;
$secondary-app-color: #6c757d;
$header-bg-color: #343a40;
$header-text-color: #ffffff;
$app-bg-color: #f5ebe0;

.constructorWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  background-color: $app-bg-color;
}


.main {
  display: flex;
  padding-top: 112px;
  flex-grow: 1;
  overflow: hidden;
}
.exhibitionPreview {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: $app-bg-color;
}
