.blockViewWrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  
  // Если задана ширина через inline стили, применяем её
  > * {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

