*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  position: fixed;
  height: 112px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #2D4739;
  padding: 24px 195px;
  font-family: Cormorant Infant, serif;
  border-bottom: 1px solid #344E41;
}

.header.constructorHeader {
  background-color: var(--color-mainpage);
  border-bottom: 1px solid #344E41;
}

.homeHeader {
  background-color: #253A3080 !important;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;


  a {
    display: flex;
    gap: 24px;
    align-items: center;
    text-decoration: none;
  }
}

.logoIcon {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.header.constructorHeader .logoIcon {
  filter: brightness(0) saturate(100%) invert(19%) sepia(12%) saturate(1200%) hue-rotate(100deg) brightness(0.9);
}

.header.constructorHeader .logoIcon path {
  fill: #344E41;
}

.logoText {
  color: #F2F1E9;
  font-family: Cormorant Infant, serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
}

.header.constructorHeader .logoText {
  color: #344E41;
}

.navigation {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 32px;

  &:first-child {
    margin-left: 0;
  }
}

.navLink {
  color: #F2F1E9;
  text-decoration: none;
  font-family: Cormorant SC, serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;

  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &.active {
    font-weight: 500;
    position: relative;

  }
}

.header.constructorHeader .navLink {
  color: #344E41;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .logo {
    margin-bottom: 15px;
  }

  .navList {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navItem {
    margin: 5px 15px;
  }
}

@media (max-width: 480px) {
  .navItem {
    margin: 5px 10px;
  }

  .navLink {
    font-size: 0.9rem;
  }
}
