.grid {
  display: grid;
  gap: 15px;
  width: 100%;
  height: 280px;
  margin-bottom: 20px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.imageGridBlock {
  width: 100%;
  max-width: 63.7vw; // 1221px на 1920px
  margin: 0 auto 1.46vw; // 28px на 1920px

  display: grid;
  gap: 0.83vw; // 16px на 1920px
  align-items: stretch;
}

.cell {
  height: 14.58vw; // 280px на 1920px
}

.gridItem :global(.imageBlock) {
  width: 100%;
  height: 100%;
}

.gridItem :global(.imageContainer) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  outline: none;
  background: transparent;
}

.gridItem :global(.image) {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border: none;
  outline: none;
}

.gridItem :global(.uploadContainer) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridItem :global(.uploadPrompt) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
