.grid {
  display: grid;
  gap: 15px;
  width: 100%;
  height: 280px;
  margin-bottom: 20px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.gridItem :global(.imageBlock) {
  width: 100%;
  height: 100%;
}

.gridItem :global(.imageContainer) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gridItem :global(.image) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gridItem :global(.uploadContainer) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridItem :global(.uploadPrompt) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
