* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  background: none;
  border-radius: 0;
  box-shadow: none;
  transition: none;
  height: 19.89vw;
  width: 23.33vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  font-weight: 600;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  height: 16.66vw;
  overflow: hidden;
  background: var(--color-exibitcard5);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: none;
}

.content {
  margin-top: -4.17vw;
  padding: 0.83vw 0.83vw 0.83vw 0;
  display: flex;
  width: 20.83vw;
  height: 7.39vw;
  flex-direction: column;
  background-color: var(--color-exibitcard);
  color: var(--color-exibitcard2);
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.date {
  font-size: 16px;
  color: var(--color-exibitcard3);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: var(--font-main);
  font-weight: 600;
  margin-bottom: 0.5vw;
}

.title {
  font-size: 24px;
  color: var(--color-exibitcard2);
  line-height: 1.2;
  flex-grow: 1;
  font-family: var(--font-main);
  vertical-align: middle;
  font-weight: 600;
}

.lineAndViewButton {
  display: flex;
  align-items: center;
  gap: 0.57vw;
  margin-top: auto;
}

.line {
  width: 1.82vw;
  height: 0.10vw;
  background-color: var(--color-exibitcard4);
}

.viewButton {
  background: none;
  border: none;
  color: var(--color-exibitcard2);
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
  font-family: var(--font-main);
}
