*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  background-color: var(--color-exhibitspage2);
}

.main {
  padding-top: 5.83vw;
}

.container {
  min-height: 18.43vw;
  width: 100vw;
  margin: 0 auto;
  padding: 2.08vw 10.15vw;
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.08vw;
}

.pageTitle {
  font-weight: 600;
  font-size: 52px;
  line-height: 110%;
  color: var(--color-text2);
}

.searchContainer {
  position: relative;
  width: 23.33vw;
}

.searchInput {
  width: 100%;
  padding: 0.8vw 1vw 0.8vw 3vw;
  border: none;
  border-bottom: 1px solid var(--color-exibitcard6);
  background-color: transparent;
  color: var(--color-exibitcard6);
  outline: none;
  font-weight: 600;
  font-size: 24px;
  font-family: var(--font-main);
  line-height: 120%;
  letter-spacing: 0px;


  &::placeholder {
    color: rgba(26, 38, 32, 0.5);
  }
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-exibitcard6);
  opacity: 0.5;
  width: 1.35vw;
  height: 1.35vw;
}

.addButtonContainer {
  position: fixed;
  right: 10.15vw;
  bottom: 2.60vw;
  z-index: 100;
}

.addButton {
  width: 14.73vw;
  height: 3.17vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.83vw;
  padding: 0.83vw 1.25vw;
  border-radius: 4px;
  background-color: var(--color-text2);
  color: var(--color-text4);
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: var(--color-text2);
  }
}

.addIcon {
  font-size: 24px;
  font-weight: bold;
}

.addText {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0px;

}

@media (max-width: 768px) {
  .titleRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.83vw;
  }

  .searchContainer {
    width: 100%;
  }
}
