// ExhibitsPage.module.scss
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  background-color: #E9E8DF;
}

.main {
  padding-top: 112px; // Space for fixed header
}

.container {
  min-height: 354px;
  width:100vw;
  margin: 0 auto;
  padding: 40px 195px;
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.pageTitle {
  font-weight: 600;
  font-size: 52px;
  line-height: 110.00000000000001%;
  color: #344E41;
}

.searchContainer {
  position: relative;
  width: 448px;
}

.searchInput {
  width: 100%;
  padding: 10px 0 10px 66px;
  border: none;
  border-bottom: 1px solid #1A2620;
  background-color: transparent;
  color: #1A2620;
  outline: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0px;


  &::placeholder {
    color: rgba(26, 38, 32, 0.5);
  }
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #1A2620;
  opacity: 0.5;
  width: 26px;
  height: 26px;
}

.addButtonContainer {
  position: fixed;
  right: 195px;
  bottom: 50px;
  z-index: 100;
}

.addButton {
  width: 283px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #344E41; // Замените на нужный цвет
  color: #ffffff; // Замените на нужный цвет
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Необязательная тень

  &:hover {
    background-color: #344E41; // Эффект при наведении
  }
}

.addIcon {
  font-size: 24px;
  font-weight: bold;
}

.addText {
  font-family: Cormorant SC, serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0px;

}

@media (max-width: 768px) {
  .titleRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .searchContainer {
    width: 100%;
  }
}
