.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: var(--color-exhibitspage2);
  width: 31,35vw;
  border-radius: 0.41vw;
  overflow: hidden;
  position: relative;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.closeButton {
  position: absolute;
  top: 0.62vw;
  right: 0.62vw; 
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5vw;
  z-index: 10;

  svg {
    stroke: var(--color-exibitcard6);
    width: 1.25vw;
    height: 1.25vw;
  }
}

.imageUploadArea {
  background-color: var(--color-text2);
  height: 20vh;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;


}

.imagePreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageUploadLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.41vw;
  color: var(--color-text4);
  cursor: pointer;
  font-family: var(--font-main);
  font-weight: 600;
  z-index: 1;
  font-size: 24px;
  line-height: 120%;

  svg {
    margin-right: 0.41vw;
  }
}

.imageInput {
  position: absolute;
  width: 0.05vw;
  height: 0.05vw;
  padding: 0;
  margin: -0.05vw;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.formContent {
  padding: 1.25vw 4.01vw;
  display: flex;
  flex-direction: column;
  gap: 0.83vw;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.31vw;
}

.formLabel {
  color: var(--color-text2);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0px;

}

.formInput,
.formTextarea,
.formSelect {
  width: 100%;
  padding: 0.41vw 0;
  font-size: 16px;
  border: none;
  border-bottom: 0.05vw solid var(--color-pagedown);
  background-color: transparent;
  color: var(--color-exibitcard6);
  resize: none;

  &::placeholder {
    color: var(--color-placeholder);
  }

  &:focus {
    outline: none;
    border-bottom-color: var(--color-exibitcard6);
  }
}

.formSelect {
  appearance: none;
  padding-right: 1.56vw;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' stroke='%231A2620' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0 center; 
}

.submitButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.25vw;
}

.submitButton {
  background-color: var(--color-exibitcard6);
  color: var(--color-text4);
  padding: 0.62vw 1.25vw;
  border-radius: 0.41vw;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: var(--color-text2);
  }
}
